*{
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body{
  font-family: 'Poppins';
}

header {
  height: 100vh;
  width: 100vw;
  background-image:linear-gradient(rgba(0, 0, 0, .6),rgba(0, 0, 0, .6)),url('fundo.jpg');
  background-size: cover;
}

.navbar{
  position: absolute;
  margin: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  box-sizing: border-box;
}

.navbar a{
  color: #fff;
}

.navbar .logo{
  font-size: 2em;
  font-weight: bold;
}

.navbar .nav-links ul{
  display: flex;
}

.navbar .nav-links ul li{
  margin: 0 25px;

}

.navbar .nav-links ul li.active a{
  color: #cd3c57;
  font-weight: 600;
}

.navbar .menu-hamburguer{
  display: none;
  position: absolute;
  top: 15px;
  right: 50px;
  width: 35px;
}

@media screen and (max-width:900px) {
  .navbar .menu-hamburguer{
    display: block;
  }

  .nav-links{
    position: absolute;
    display: flex;
  }
}